[user]
	name = Max Mizikar
	email = maxmzkr@gmail.com
	signingkey = 3FCE6DCBC8EAAF40A60C465E112BEAAD26B7B81D

[push]
	default = simple

[core]
	editor = vim
	autocrlf = input
	
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[alias]
	co = checkout
	ci = commit -m
	st = status
	br = branch
	hist = log --pretty=format:\"%h %af | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	d = diff
	pl = pull
	pu = push
	a = add
	ap = add -p
	ac = !git add . && git commit -m
	undo = reset --soft HEAD~1
	sub = submodule update --init --recursive
	cp = cherry-pick
	patch = !git --no-pager diff --no-colorcl = clone
	rmbranches = !git branch -vv | grep ': gone' | awk '{print $1}' | xargs git branch -d -D
	stashgrep = "!f() { for i in `git stash list --format=\"%gd\"` ; \
              do git stash show -p $i | grep -H --label=\"$i\" \"$@\" ; done ; }; f"

[commit]
	gpgsign = true

[gpg]
	program = /usr/bin/gpg

[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[mergetool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool]
  keepBackup = false

[merge]
  tool = nvimdiff

[diff "diff"]
  command = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
  tool = nvimdiff

[difftool "nvimdfif"]
  cmd = nvim -d "$LOCAL" "$REMOTE"

[pull]
	rebase = true

[include]
	path = /home/max/.gitconfigs/.workconfig
[init]
	defaultBranch = main

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[rebase]
	instructionFormat = (%an <%ae>) %s
